<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/index.css">
	<script type="text/javascript" src="node_modules/react/dist/react-with-addons.js"></script>
	<script type="text/javascript" src="node_modules/react-dom/dist/react-dom.js"></script>
	<script type="text/javascript" src="node_modules/redux/dist/redux.min.js"></script>
	<script type="text/javascript" src="node_modules/react-redux/dist/react-redux.min.js"></script>
	<title>Introduction</title>
</head>
<body>
<noscript>
	You need to enable JavaScript to run this app.
</noscript>
<div id="content"></div>
</body>
</html>