// White
$white: #FFFFFF;
$white-opa20: rgba(256, 256, 256, .2);
$white-opa50: rgba(256, 256, 256, .5);

// Gray
$light-gray: #F4F7F9;
$mid-gray: #D0D7DD;
$dark-gray: #B3C2CE;
$gray: #909090;

// Green
$green: #009A4A;

// Blue
$blue: #4DA1FF;

// Purple
$purple: #724BAF;
$dark-purple: #5A3D87;
$light-purple: #ECDBFF;

// Black
$black: #333;
$black-opa16: rgba(51, 51, 51, .16);
$black-opa50: rgba(51, 51, 51, .5);

// Pink
$light-pink: #FFF0ED;

// Red
$red: #FF5228;

// Error
$error: #FF5228;

// Facebook
$fb-dark-blue: #3b4f98; // This is an unofficial value. It is here since sometimes we want it bit more dark e.g., when hovering on a button, otherwise we shouldn't use it for fb things.
$fb-blue: #3b5998;
$fb-light-blue: #8b9dc3;
$fb-gray: #dfe3ee;
$fb-light-gray: #f7f7f7;
$fb-white: #ffffff;
$fb-mid-blue: #8b9dc3;
$fb-light-blue: #dfe3ee;

$inactivate: #D0D7DD