// White
$white: #FFFFFF;

// Gray
$light-gray: #F4F7F9;
$mid-gray: #D0D7DD;
$dark-gray: #B3C2CE;
$gray: #909090;

// Green
$green: #009A4A;

// Blue
$blue: #4DA1FF;

// Purple
$purple: #724BAF;

// Black
$black: #333;

// Pink
$light-pink: #FFF0ED;

// Red
$red: #FF5228;

// Error
$error: #FF5228;

